<h1>Wynterest</h1>



<form action="githubcontroller">
Search: <input type="text" name="search"><br>
<input type="submit" value="Submit">
</form>




<dl>

  <% @profile["posts"].each do |n| %>

    <a href=""><img src='<%= n["urls"][0]["url"] %>'></a>
    <%= form_for(@image, url: images_new_path, html: { method: :post }) do |f| %>
      <div class="field">
        <% f.hidden_field(:url, value: n["urls"][0]["url"]) %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>



  <% end %>




</dl>
