<h1>Wynterest</h1>


<form action="github_controller.rb">
Search: <input type="text" name="search" value=nil><br>
<input type="submit" value="Submit">
</form>




<dl>

<% @profile["posts"].each do |n| %>
  <img src='<%= n["urls"][0]["url"] %>'>
<% end %>



</dl>
