<h1>Wynterest</h1>



<form action="githubcontroller">
Search: <input type="text" name="search"><br>
<input type="submit" value="Submit">
</form>




<dl>


<% @profile["posts"].each do |n| %>
  <img class='photoresults' src='<%= n["urls"][0]["url"] %>' alt="blind" height="300" width="300">
  <h2><% @yoyo %></h2>
<% end %>



</dl>
