
<div class="image">
  <h1 class="header">Wynterest</h1>
</div>


<form class="form search" style="text-align:center;" action="githubcontroller">
    <span class="searchText">
    <input type="search" name="search" placeholder="Search...."><br>
    <input type="submit" value="Submit">
    </span>
</form>

<dl>


  <% @profile["posts"].each do |n| %>

  <div class="photobox">

    <a href=""><img src='<%= n["urls"][0]["url"] %>'></a>

    <h2><% @yoyo %></h2>

  </div>
  <% end %>



</dl>
