<h1>Wynterest</h1>



<form action="githubcontroller">
Search: <input type="text" name="search"><br>
<input type="submit" value="Submit">
</form>




<dl>


<% @profile["posts"].each do |n| %>

  <a href=""><img src='<%= n["urls"][0]["url"] %>'></a>

  <h2><% @yoyo %></h2>
<% end %>



</dl>
