<h1>Wynterest</h1>



<form action="githubcontroller">
Search: <input type="text" name="search"><br>
<input type="submit" value="Submit">
</form>




<dl>

<% @profile["posts"].each do |n| %>

  <a href="images/anything?<%= {url: n["urls"][0]["url"] }.to_query %>>">
    <img src='<%= n["urls"][0]["url"] %>'>
  </a>

<% end %>



</dl>
