<div class="image">
  <h1 class="header">Wynstagram</h1>
</div>



<form class="form search" style="text-align:center;" action="githubcontroller">
    <span class="searchText">
    <input type="search" name="search" placeholder="Search...."><br>
    <input type="submit" value="Submit">
    </span>
</form>



<dl>

<% @profile["posts"].each do |n| %>

  <a class="photobox" href="images/anything?<%= {url: n["urls"][0]["url"] }.to_query %>">
    <img src='<%= n["urls"][0]["url"] %>'>
  </a>

<% end %>



</dl>
